.header {
  height: 70px;
  background-color: white;
  -webkit-box-shadow: 0px -7px 35px -6px rgba(66, 68, 90, 0.17);
          box-shadow: 0px -7px 35px -6px rgba(66, 68, 90, 0.17);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 20px;
  margin-bottom: 30px;
}

.header__title {
  font-size: 1.2em;
}

.App {
  font-family: "Nunito Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  background-color: #fafafa;
}

.card {
  max-width: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
      -ms-flex-direction: unset;
          flex-direction: unset;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card__wrapper {
  color: #111517;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  width: clamp(100px, 380px, 400px);
  margin: 30px 15px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 11px 2px rgba(66, 68, 90, 0.14);
          box-shadow: 0px 5px 11px 2px rgba(66, 68, 90, 0.14);
}

.card__flag {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__name {
  margin-top: 35px;
  margin-bottom: 5px;
  margin-left: 25px;
  text-align: left;
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
          margin-block-start: 0.83em;
  -webkit-margin-after: 0.83em;
          margin-block-end: 0.83em;
  font-weight: bold;
  color: #111517;
  text-decoration: none;
}

.card__info {
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 25px;
  margin-bottom: 30px;
  line-height: 1px;
}

.card__info > * {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.card__info--title {
  font-weight: 600;
  margin: 3px;
}

@media all and (min-width: 1200px) {
  .card {
    margin: 0px 20px;
  }
}

.filter {
  max-width: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 15px;
  margin-left: 20px;
  border-radius: 10px;
}

.filter > * {
  height: 50px;
  border: 5px solid white;
  -webkit-box-shadow: 0px 2px 10px -1px rgba(66, 68, 90, 0.17);
          box-shadow: 0px 2px 10px -1px rgba(66, 68, 90, 0.17);
}

.filter__list {
  width: 50vw;
  margin-top: 45px;
}

.filter__input {
  width: 90vw;
}

@media all and (min-width: 1000px) {
  .filter {
    margin: 15px 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .filter__input {
    width: 500px;
  }
  .filter__list {
    margin: 0px;
    width: 350px;
  }
}

@media all and (min-width: 2000px) {
  .filter {
    width: 1900px;
    margin: 15px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .filter__input {
    width: 700px;
  }
  .filter__list {
    margin: 0px;
    width: 350px;
  }
}

.mainPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media all and (min-width: 2000px) {
  .mainPage {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.back__btn {
  cursor: pointer;
  height: 40px;
  width: 130px;
  margin-top: 40px;
  margin-bottom: 50px;
  margin-left: 30px;
  background-color: white;
  font-size: 1.2em;
  border: none;
  -webkit-box-shadow: 0px 0px 22px -10px rgba(0, 0, 0, 0.63);
          box-shadow: 0px 0px 22px -10px rgba(0, 0, 0, 0.63);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
}

.back__btn__icon {
  margin-right: 10px;
}

.country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.country__wrapper {
  margin-bottom: 50px;
}

.country__flag__img {
  width: 80vw;
  max-width: 700px;
  margin-bottom: 50px;
}

.country__info__details {
  margin-top: 40px;
  font-size: 1.1em;
  line-height: 30px;
}

.country__info__details--title {
  font-weight: bold;
  margin-right: 12px;
}

@media all and (min-width: 800px) {
  .country__info__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0px;
  }
  .country__info__details--col1 {
    margin-right: 150px;
  }
}

@media all and (min-width: 1200px) {
  .country__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .country__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .country__info__details {
    display: block;
  }
  .country__flag {
    margin-right: 100px;
  }
}

@media all and (min-width: 1600px) {
  .country {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .country__wrapper {
    max-width: 1800px;
  }
  .country__info__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0px;
  }
  .country__info__details--col1 {
    margin-right: 100px;
  }
  .country__flag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-right: 200px;
  }
}
/*# sourceMappingURL=style.css.map */